////////////
//Fonts////
//////////

@font-face {
    font-family: 'x';
    src: url('font/x/x.eot');
    src: url('font/alegreya/Alegreya-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/alegreya/Alegreya-Italic-webfont.woff') format('woff'),
         url('font/alegreya/Alegreya-Italic-webfont.ttf') format('truetype'),
         url('font/alegreya/Alegreya-Italic-webfont.svg#Alegreya-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Font variables with fallbacks. 
// Uses these instead of the font-familiy defined above.


$x: x, georgia, serif;

////////////
//Colors///
//////////

$brand-light:  #00D9CE;
$brand:        #09AAA2;
$brand-dark:   #00726C;
$brand-darker: #00403d;
$off-white:    #F0F2F2;
$white:        #FFFFFF;
$grey:         #E1E3E3;
$dark-grey:    #78767a;
$black:        #414042;
$body-copy:    #666;
$link-color:   #666;
$link-hover:   #666;

$verticle-margins: 20px;
