
// Fonts

html {
  font-size: 62.5%; // Sets up the Base 10 stuff
}

@font-face {
    font-family: 'human_italic';
    src: url('font/human_italic/CoreHumanistSans-Italic-webfont.eot');
    src: url('font/human_italic/CoreHumanistSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/human_italic/CoreHumanistSans-Italic-webfont.woff') format('woff'),
         url('font/human_italic/CoreHumanistSans-Italic-webfont.ttf') format('truetype'),
         url('font/human_italic/CoreHumanistSans-Italic-webfont.svg#corehumanistsans-italicRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'human_light';
    src: url('font/human_light/CoreHumanistSans-Light-webfont.eot');
    src: url('font/human_light/CoreHumanistSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/human_light/CoreHumanistSans-Light-webfont.woff') format('woff'),
         url('font/human_light/CoreHumanistSans-Light-webfont.ttf') format('truetype'),
         url('font/human_light/CoreHumanistSans-Light-webfont.svg#corehumanistsanslightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'human';
    src: url('font/human_regular/CoreHumfont/human_light/anistSans-Regular-webfont.eot');
    src: url('font/human_regular/CoreHumanistSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/human_regular/CoreHumanistSans-Regular-webfont.woff') format('woff'),
         url('font/human_regular/CoreHumanistSans-Regular-webfont.ttf') format('truetype'),
         url('font/human_regular/CoreHumanistSans-Regular-webfont.svg#corehumanistsansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$human: human, helvetica, sans-serif;
$human_light: human_light, helvetica, sans-serif;
$human_italic: human_italic, helvetica, sans-serif;

// Colors
$brand:        #09AAA2;
$brand-dark:   #00726C;
$brand-darker: #00403d;
$off-white:    #F7F7F7;
$white:        #FFFFFF;
$grey:         #E1E3E3;
$dark-grey:    #78767a;
$black:        #414042;
$body-copy:    #666;
$link-color:   #666;
$link-hover:   #666;

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}