////////////////////
//Susy Settings////
//////////////////

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 1200px,
  container-position: center,
  columns: 12,
  gutters: 0,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

////////////
//Fonts////
//////////

@include ck-font-face(
  'HelveticaNeue',
  'fonts/HelveticaNeue'
);

// Font variables with fallbacks. 
// Uses these instead of the font-familiy defined above.

$fontello: font-name, Helvetica, sans-serif; 
$hel: HelveticaNeue, sans-serif; 

////////////
//Colors///
//////////

$red:          #E00000;
$red-dark:     #01c2b8;
$red-darker:   #00726C;

$white:        #FFFFFF;

$black:        #4b4b4b;
$black-dark:   #242424;
$black-darker: #000000;

$grey:         #e9e9e9;
$grey-dark:    #bbbbbb;
$grey-darker:  #787878;

