
html { font-size: 62.5%; } 

body { 
  @include font-size(16);
  text-rendering: optimizeLegibility;
  color: $black;
} 

a {
  outline: none;
  color: $link-color;
}
a:hover {
  color: $link-hover;
}

.entry-content {

}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

.entry-content ol,
.comment-content ol,
.entry-content ul,
.comment-content ul,
.mu_register ul {
  margin: 0 0 24px;
  margin: 0 0 1.714285714rem;
  line-height: 1.714285714;
}
.entry-content ul ul,
.comment-content ul ul,
.entry-content ol ol,
.comment-content ol ol,
.entry-content ul ol,
.comment-content ul ol,
.entry-content ol ul,
.comment-content ol ul {
  margin-bottom: 0;
}
.entry-content ul,
.comment-content ul,
.mu_register ul {
  list-style: disc outside;
}
.entry-content ol,
.comment-content ol {
  list-style: decimal outside;
}
.entry-content li,
.comment-content li,
.mu_register li {
  margin: 0 0 0 36px;
  margin: 0 0 0 2.571428571rem;
}
.entry-content blockquote,
.comment-content blockquote {
  margin-bottom: 24px;
  margin-bottom: 1.714285714rem;
  padding: 24px;
  padding: 1.714285714rem;
  font-style: italic;
}
.entry-content blockquote p:last-child,
.comment-content blockquote p:last-child {
  margin-bottom: 0;
}

.entry-content pre,
.comment-content pre {
  border: 1px solid #ededed;
  color: #666;
  font-family: Consolas, Monaco, Lucida Console, monospace;
  line-height: 1.714285714;
  margin: 24px 0;
  margin: 1.714285714rem 0;
  overflow: auto;
  padding: 24px;
  padding: 1.714285714rem;
}
.entry-content pre code,
.comment-content pre code {
  display: block;
}
.entry-content abbr,
.comment-content abbr,
.entry-content dfn,
.comment-content dfn,
.entry-content acronym,
.comment-content acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

.required {
  color: red;
}

/* Assistive text */
.assistive-text,
.site .screen-reader-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}
.main-navigation .assistive-text:hover,
.main-navigation .assistive-text:active,
.main-navigation .assistive-text:focus {
  background: #fff;
  border: 2px solid #333;
  border-radius: 3px;
  clip: auto !important;
  color: #000;
  display: block;
  padding: 12px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 100000; /* Above WP toolbar */
}
