.home-hero-container {
  background: url('img/home-feature.jpg') right center no-repeat fixed;
  background-size: cover;
}

.home-hero-content {
  @include container;
}

.home-hero-sidebar {
  @include span(4);
  position: relative;
  height: 600px;
  background: $red;
  box-shadow: -400px 0px 0px 0px $red;  
}

.home-hero-primary {

}

.home-hero-secondary {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
  background: $white;
  box-shadow: -400px 0px 0px 0px $white;  
}

.home-hero-image {
  @include span(8);
  position: relative;
  height: 600px;
}

.home-hero-x {
  position: absolute;
  bottom: 0;
  left: -55px;  
}
